<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.knowledgeb.mapper.KnowledgeBaseMapper">
    <insert id="createKB" useGeneratedKeys="true" keyProperty="id" parameterType="com.kb.knowledgeb.domain.po.KnowledgeBase">
        insert into kbases (name, user_id, create_time, update_time, permission)
        VALUES
        (#{name},#{userId},#{createTime},#{updateTime},#{permission})
    </insert>
    <update id="updateKB" parameterType="com.kb.knowledgeb.domain.po.KnowledgeBase" keyProperty="id">
        update kbases
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="permission!=null">
                permission=#{permission},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>