<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.knowledge.mapper.KnowledgeMapper">
    <insert id="insertKnowledge" useGeneratedKeys="true" keyProperty="id">
        insert into ks (name, data_type, data_content, kbase_id, user_id, create_time, update_time, permission)
        VALUES
        (#{name},#{dataType},#{dataContent},#{kbaseId},#{userId},#{createTime},#{updateTime},#{permission})
    </insert>
    <update id="updateKnowledge" parameterType="com.kb.knowledge.domain.po.Knowledge" keyProperty="id">
        update ks
        <set>
            <if test="name !=null">
                name = #{name},
            </if>
            <if test="dataType!=null">
                data_type = #{dataType},
            </if>
            <if test="dataContent!=null">
                data_content = #{dataContent},
            </if>
            <if test="permission!=null">
                permission = #{permission},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id} and kbase_id = #{kbaseId}
    </update>
    <update id="updateKnowledgePreview" parameterType="com.kb.knowledge.domain.po.KnowledgePreview" keyProperty="id">
        update k_preview
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="publisher != null">`publisher` = #{publisher},</if>
            <if test="picture != null">`picture` = #{picture},</if>
            <if test="summarization != null">`summarization` = #{summarization},</if>
            <if test="keywords != null">`keywords` = #{keywords},</if>
            <if test="url != null">`url` = #{url},</if>
            <if test="finishTime != null">`finish_time` = #{finishTime},</if>
        </set>
        WHERE `id` = #{id}
    </update>

</mapper>