<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.user.mapper.UserMapper">
    <insert id="registerAccount" useGeneratedKeys="true" keyProperty="id">
        insert into users (username, password, phone, create_time, update_time, status, permission)
        values
        (#{username}, #{password}, #{phone}, #{createTime}, #{updateTime}, #{status}, #{permission})
    </insert>


    <update id="updateUser">
        update users
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id =#{id}
    </update>
</mapper>